h1 {
	font-weight: 700;
	text-transform: uppercase;
}

h1.gross {
	font-size: 6rem;
	line-height: 5.5rem;
	margin-bottom: .5rem;
}

h1.gross {
	font-size: 6rem;
	line-height: 5.5rem;
	margin-bottom: .5rem;
}

.blue {
	color: #61dafb;
}

a.btn {
	text-decoration: none;
}

a.link {
	background: transparent !important;
	margin-left: .5ch;
	color: #61dafb;
	transition: all 0.3s ease-in;
}

a.link:hover, a.link:focus {
	border: 0.1rem solid #61dafb;
	border-radius: 5px;

}

p.subheading {
	text-transform: uppercase;
	color: #868e96;
	margin-top: .1rem;
	margin-bottom: 3rem;
	font-weight: 500;
	font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-size: 1.5rem;
}

p.lead {
	color: rgba(255,255,255,.9);
	/*color: #61dafb;*/
	margin-bottom: 1;
	font-weight: 500;
	font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-size: 1.5rem;
}

/*-----------------------*/
/*buttons*/
/*-----------------------*/

@keyframes shadow-pulse
{
	0% {
		box-shadow: 0 0 0 0px rgba(255,0,0,.5);
	}
	100% {
		box-shadow: 0 0 0 20px  rgba(255,0,0,0);
	}
}

.btn-video {
	display: inline-block;
	position: absolute;
	height: 4.5rem;
	width: 4.5rem;
	margin-left: 10px;
	border-radius: 100%;
	background-color: #495057;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	transform: translate(0rem,.3rem);
	color: white;
}

.btn-video i {
	position: relative;
	transform: translate(.6rem,-.8rem);
	align-items: center;
	font-size: 3.5rem;
}

.btn-video:hover::after {
	color: #61dafb;
}

.btn-video:hover {
	background-color: red;
}

.pulse {
	animation: shadow-pulse 1s infinite;
}
.single-pulse {
	animation: shadow-pulse 1s 1;
}

.social-icons a {
	display: inline-block;
	height: 3.5rem;
	width: 3.5rem;
	background-color: #495057;
	color: #fff !important;
	border-radius: 100%;
	text-align: center;
	font-size: 1.5rem;
	line-height: 3.5rem;
	margin-right: 1rem;
	transition: all 0.3s ease-in;
}

.social-icons a:last-child {
	margin-right: 0;
}

.social-icons a:hover {
	background-color: red;
	animation: shadow-pulse 1s 1;
}

