.nav-bar {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

img.profile-bild {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 80%;
	border-radius: 50%;
	outline-color: "blue";
	outline-width: 5px;
}
