.nav-bar {
	display: none;
	opacity: 0;
	z-index: 2147483647;
	background-color: #32363e;
	/*background-color: #1e222a;*/
	color: white;
	height: 100vh;
	width: 240px;
	position: fixed;
	top: 0;
	left: 0;
	flex-direction: column;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	transition: opacity .5s ease-in;
}
.app-bar {
	transition: all .5s ease-in;
}
@media (min-width: 992px) {
	.nav-bar {
		display: flex;
		opacity: 1;
	}
	.app-bar {
		display: none;
	}
}

.profile-bild {
	margin-left: 20px;
	margin-bottom: 15px;
	width: 200px;
	border-radius: 50%;
}

.mini {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40px;
	border-radius: 50%;
}
